a{
    color: white;
    &:hover{
        p{
            color: $black;
            -webkit-text-stroke-width: .5px;
            -webkit-text-stroke-color: white;
        }
    }

}

.nav{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 10px;
    margin: 20px 0;
    .nav-item{
        margin: 0 10px;
        line-height: 1.5rem;
        
    }
}






